<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tesla_index.css">
    <link rel="stylesheet" href="/css/tesla_ani.css">
    <title>Document</title>
</head>
<body>
    <div class="step1">
        <div class="main_bg">
            <div class="header">
                <div class="logoArea">
                    <img class="teslaLogo" src="/images/logo.png" alt="teslaLogo">
                </div>
                <ul class="nav">
                    <li><a href="https://www.tesla.com/ko_kr/models">MODEL S</a></li>
                    <li><a href="https://www.tesla.com/ko_kr/model3">MODEL 3</a></li>
                    <li><a href="https://www.tesla.com/ko_kr/modelx">MODEL X</a></li>
                    <li><a href="https://www.tesla.com/ko_kr/modely">MODEL Y</a></li>
                    <li><a href="https://www.tesla.com/ko_kr/cybertruck">CYBERTRUCK</a></li>
                    <li><a href="https://www.tesla.com/ko_kr/powerwall">POWERWALL</a></li>
                </ul>
                <!-- 256 40 -->
                <ul class="nav2">
                    <li><a href="/shop">SHOP</a></li>
                    <li><a href="/members/new">TESLA 계정</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- step1 - end -->
    <div class="prodName">
        <h1>Model Y</h1>
    </div>
    <div class="mid_session">
        <span><a href="https://www.tesla.com/ko_kr/modely/design#battery">주문하기</a></span>
        <span><a href="https://www.tesla.com/ko_kr/modely">자세히 알아보기</a></span>
    </div>
    <div class="step2">
        <div class="sub_bg"></div>
    </div>
</body>
</html>