<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tesla_account.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="logoArea">
            <img class="teslaLogo" src="/images/logo.png" alt="teslaLogo">
        </div>
        <div class="temp"></div>
        <div class="languageArea">
            <img class="language_ic" src="/images/language.png" alt="teslaLogo">
        </div>
    </div>
    <!-- header-end -->
    <div class="mid_session">
        <h1>로그인</h1>
        <p> 이메일 주소 </p>
        <div>
            <form>
                <input type="text" placeholder="">
            </form>
        </div>
        <p> 비밀번호 </p>
        <div>
            <form>
                <input type="text" placeholder="">
            </form>
        </div>
        <div id="order"><a href="#">로그인</a></div>
        <div class="help">
            <a>이메일 주소를 잊으셨나요?</a>
            <p>|</p>
            <a>비밀번호를 잊으셨나요?</a>
        </div>
        <p id="br">또는</p>
        <div class="sign">계정 생성하기</div>
    </div>

    <div class="footer">
        <p>Tesla 2021   개인정보 처리방침 및 법적고지   연락처</p>
    </div>
</body>
</html>